/**{
	margin:0;
	padding:0;
	}*/
/*html,body{
	height:100%
	}*/
	body{
		background:url('img/bg-pattern.png');
		background-repeat: repeat;
	}
/*#wrapper{
	display: table;
	height:100%;
	width:100%;
	background:url('img/bg-pattern.png');
	background-repeat: repeat;
	}*/
	.block {
		display: table;
		position:absolute;
	}
	p { 
		display: table-cell;
		vertical-align: middle;
		text-align:center;
	}
/*#inner-wrapper{
	display: table-cell;
	vertical-align: middle;
	width:100%;
	}*/
	#content{
		margin:20px auto 0 auto;
	}
	#left-container-inner{
		background-color:#20242D;
		position:relative;

		-moz-border-radius: 10px
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	#right-container-outer{
	}
	#right-container-inner{
	}
	#left-container-outer{
		background-color:#424854;
		-moz-border-radius: 10px
		-webkit-border-radius: 10px;
		border-radius: 10px;
		box-shadow: 0px 0px 15px #aaa;
		-moz-box-shadow: 0px 0px 15px #aaa;
		-webkit-box-shadow: 0px 0px 15px #aaa;
		padding:30px;
		margin-bottom:20px;
	}
	#timer{
		font-family:impact;
		/* text-align:center; */
	}
/*.clear{
	clear:both;
	}*/

/*#left-container{
	-webkit-box-sizing : content-box;
	}*/
	.glyphicon-refresh-animate {
		-animation: spin .7s infinite linear;
		-webkit-animation: spin2 .7s infinite linear;
	}

	@-webkit-keyframes spin2 {
		from { -webkit-transform: rotate(0deg);}
		to { -webkit-transform: rotate(360deg);}
	}

	@keyframes spin {
		from { transform: scale(1) rotate(0deg);}
		to { transform: scale(1) rotate(360deg);}
	}